@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

:root {
    --primary-color: #DB793B;
    --secondary-color: #FAEE1C;
    --accent1-color: #0093E0;
    --accent2-color: #2C1476;
    --accent3-color: #BEE8FF;
    --heading-font: "signika negative", sans-serif;
    --paragraph-font: "signika negative", sans-serif;
    --nav-background-color: var(--accent2-color);
    --nav_link-color: var(--accent1-colorcolor);
    --nav-hover-background-color: var(--primary-color);
}

h1 {
    font-size: 20pt;
    color: #FFFFFF;
}

h2 {
    color: var(--primary-color);
    font-size: 16pt;
    font-family: var(--paragraph-font);
}

body {
    font-family: var(--paragraph-font);
    color: var(--accent2-color)
}

a {
    text-decoration: none;
    color: var(--accent1-color);
}

.hero {
    position: relative;
    margin: 10px auto;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 20px;
    height: 100px;
    background: var(--accent2-color);
    padding: 0.5rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.7;
    margin: 80px;
}

.overlay img {
    height: 80px;
    width: auto;
    float: left;
    padding: 5px;
    vertical-align: middle;
}

article {
    color: #FFFFFF;
}

.title-overlay {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 50px;
    background: var(--accent2-color);
    padding: 0.5rem;
    opacity: .7;
    text-align: center;
}