@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Signika+Negative&display=swap');

:root {
    --primary-color: #DB793B;
    --secondary-color: #FAEE1C;
    --accent1-color: #0093E0;
    --accent2-color: #2C1476;
    --accent3-color: #BEE8FF;
    --heading-font: "signika negative", sans-serif;
    --paragraph-font: "roboto", sans-serif;
    --nav-background-color: #2C1476;
    --nav_link-color: #0093E0;
    --nav-hover-background-color: #DB793B;
}

main {
    max-width: 100%;
}

h1 {
    font-size: 25pt;
    color: #FFFFFF;
}

h2 {
    color: var(--primary-color);
    font-size: 16pt;
}

body {
    color: var(--accent-color)
}

a {
    text-decoration: none;
    color: var(--accent2-color);
    font-size: 1.5rem;
}

.hero {
    position: relative;
    margin: 10px auto;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.overlay {
    position: absolute;
    top: 20px;
    height: 100px;
    background: var(--accent2-color);
    padding: 0.5rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.7;
    margin: 80px;
}

.overlay img {
    height: 80px;
    width: auto;
    float: left;
    padding: 5px;
    vertical-align: middle;
}

article {
    color: #FFFFFF;
    font-size: 1rem;
}

.title-overlay {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 50px;
    background: var(--accent2-color);
    padding: 0.5rem;
    opacity: .7;
    text-align: center;
}

header {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    max-width: 1000px;
    font-family: var(--heading-font);
    border: 3px solid rgba(44, 20, 118, .8);
    padding: 1rem;
    border-radius: .5rem;

}

nav {
    display: flex;
    justify-content: space-around;
}

h1,
h2 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--paragraph-font);
}

.history {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.history-title {
    display: flex;
    justify-content: center;

}

figure {
    flex-basis: 20%;
}

figure img {
    max-width: 100%;
}

.wwr-images {
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--accent2-color);
    color: #FFFFFF;
    border-radius: .5rem;
}

.wwr-images-title {
    display: flex;
    justify-content: center;

}

img {
    width: 13em;
    border-radius: .5rem;
}

figcaption {
    font-family: var(--paragraph-font);
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 2em;
}

.company-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--accent2-color);
}

.map {
    border: 1px solid var(--accent2-color);
    margin: 2rem;
    border-radius: .5rem;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--accent2-color);
    color: #fff;
    align-items: center;
    padding: 5px;
    border-radius: .5rem;
}

form {
    width: 35rem;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--accent2-color);
    border-radius: .5rem;
    display: grid;
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    background-color: var(--primary-color);
    font-weight: 600;
}

fieldset {

    border-radius: .5rem;
    margin: 5px;
    border: 1px solid var(--accent2-color);

}

.form-item {
    display: grid;
    align-items: center;


}

.item1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-content: stretch;

}

.item2 {
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.q-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}

.submit {
    display: flex;
}

.purpose {
    display: flex;
    flex-direction: row;
}

legend {
    font-size: 1.2rem;
    margin: 0 auto;

}

label {
    padding: 5px;
}

.h1-message {
    display: flex;
    justify-content: center;
}

.explore {
    display: flex;
    justify-content: center;
}

.trips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--accent2-color);
    border-radius: .5rem;
    color: #fff;
    padding: .5rem;
}

.trips figcaption {
    display: flex;
    justify-content: center;
}

.trips p {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.comparison {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

table,
th,
td {
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
    border: 1px solid var(--accent2-color);
    border-collapse: collapse;
    padding: 1rem;
}

th {
    background-color: var(--secondary-color);
    border: 1px solid var(--accent2-color);
}

.table1 {
    display: flex;
    justify-content: center;
}

.contact-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: var(--paragraph-font);

}

.contact-link a {
    font-weight: bold;
    font-size: 2rem;
}

footer {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-hero img {
    width: 100%;
    margin-top: 1rem;
    position: relative;
}

.home-title {
    position: absolute;
    z-index: 1;
    display: flex;
    background-color: var(--accent2-color);
    width: 100%;
    opacity: .7;
    margin-top: 3rem;
    justify-content: center;
   
}

.whoweare {
    display: flex;
    justify-content: center;
}

.who-grid {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 1fr;
    width: 60rem;
    margin: 0 auto;
    background-color: var(--accent2-color);
    color: #fff;
    border-radius: .5rem;

}

.who-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}