@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Signika+Negative&display=swap');

:root {
    --primary-color: #DB793B;
    --secondary-color: #FAEE1C;
    --accent1-color: #0093E0;
    --accent2-color: #2C1476;
    --accent3-color: #BEE8FF;
    --heading-font: "signika negative", sans-serif;
    --paragraph-font: "roboto", sans-serif;
    --nav-background-color: #2C1476;
    --nav_link-color: #0093E0;
    --nav-hover-background-color: #DB793B;
}
main {
    max-width: 100%;
    margin: 1em;
}
h1 {
    font-size: 20pt;
    color: #FFFFFF;
}

h2 {
    color: var(--primary-color);
    font-size: 16pt;
}

body {
    color: var(--accent2-color)
}

a {
    text-decoration: none;
    color: var(--accent1-color);
}

.hero {
    position: relative;
    margin: 10px auto;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 20px;
    height: 100px;
    background: var(--accent2-color);
    padding: 0.5rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.7;
    margin: 80px;
}

.overlay img {
    height: 80px;
    width: auto;
    float: left;
    padding: 5px;
    vertical-align: middle;
}

article {
    color: #FFFFFF;
    font-size: 1rem;
}

.title-overlay {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 50px;
    background: var(--accent2-color);
    padding: 0.5rem;
    opacity: .7;
    text-align: center;
}

header {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    max-width: 1000px;
    font-family: var(--heading-font);
}

nav {
    display: flex;
    justify-content: space-around;
}

h1,
h2 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--paragraph-font);
}

.history {
    display: flex;
    flex-direction: row;
}
.history-title {
    display:flex;
    justify-content: center;
    
}
.wwr-images {
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--accent2-color);
    color:#FFFFFF;
}
.wwr-images-title {
    display: flex;
    justify-content: center;
   
}
img {
    width: 13em;
}

figcaption {
    font-family: var(--paragraph-font);
}
.sociallinks {
    display: flex;
    justify-content: flex-end;
}
.logo {
    width:3em;
}