@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Signika+Negative&display=swap');
:root {
    --primary-color: #DB793B;
    --secondary-color: #FAEE1C;
    --accent1-color: #0093E0;
    --accent2-color: #2C1476;
    --heading-font: "signika negative", sans-serif;
    --paragraph-font: "roboto", sans-serif;
    --nav-background-color: #2C1476;
    --nav_link-color:#0093E0 ;
    --nav-hover-background-color:#DB793B;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--accent2-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--secondary-color);

}

nav a:hover {
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}
/* .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}
.colors th {
    background-color: #2C1476;
}
.colors td {
    width: 25%;
    height: 3em;
} */